@font-face {
  font-family: "Karrik";
  src: local(Karrik), url("./fonts/Karrik-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  background-color: #191919;
  font-family: 'Karrik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Karrik', sans-serif;
}
