.root {
    --black-color: #191919;
    --white-color: #f8f8ff;
    --dark-gray-color: #333333;
    --gray-color: #cccccc;
}

.domino-train {
    width: 100%;
    height: 100vh;
    align-items: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0 auto;

    padding: 1%;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.logo {
    margin: 20px;
    filter: invert(100%);
}

.title-card {
    color: #f8f8ff;
    font-size: 36px;
}

.score {
    color: #f8f8ff;
    font-size: 18px;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button {
    font-family: 'Karrik', sans-serif;
    padding: 10px;
    margin: 10px;
}

.grid {
    margin-top: 10px;
    margin-bottom: 2px;
    display: inline-block;
    position: relative;
}

.board {
    display: inline-block;
    border: 1px outset #aaa;
    background-color: #191919;
    position: relative;
}

.cell {
    border: 1px inset #555;
    box-sizing: border-box;
}

.domino-wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.domino {
    position: absolute;
    user-select: none;
    display: flex;
    border-radius: 8px;
}

.domino-half {
    border: 3px solid #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #191919;
    font-weight: bold;
    box-sizing: border-box;
}

.top-half-domino {
    border-style: none none none none;
    /*border-radius: 8px 8px 0 0;*/
}

.domino-divider {
    border: 1px solid #cccccc;
}

.bot-half-domino {
    border-style: none none solid none;
}

.domino-holder {
    margin-top: 10px;
    padding: 20px;
    border: 2px solid #cccccc;
    border-radius: 8px;
    background-color: #333333;
    display: inline-block;
}

.domino-holder-dominos {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-left: 1%;
    margin-bottom: 1%;
}

.starting-tile {
    position: absolute;
    pointer-events: none;
}

.starting-tile-domino {
    background-color: #f8f8ff;
    border-radius: 8px;
    border-style: none none solid none;
}