.domino {
  width: 60px;
  height: 30px;
  background: white;
  border: 2px solid black;
  border-radius: 4px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 6px;
  font-weight: bold;
}
x